[submodule "x86"]
	path = x86
	url = git@github.com:mudongliang/x86.renejeschke.de.git
[submodule "debgen"]
	path = debgen
	url = git@github.com:MintCN/debgen.git
[submodule "ubuntugen"]
	path = ubuntugen
	url = git@github.com:mudongliang/ubuntugen.git
